aiohttp
requests
pandas
tenacity
ratelimit
python-telegram-bot==20.7
yfinance
numpy
backtrader
scipy
ccxt
scikit-learn==1.5.0
asyncio>=3.4.3
imbalanced-learn>=0.10.0
shap>=0.41.0
matplotlib